  @model eRestoran.Areas.Uposlenik.ViewModels.Izvjestaj.IzvjestajVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Izvještaj</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Spisak obavijesti</th>
            </tr>
            <tr>
                <th>Obavijest ID</th>
                <th>Poruka</th>
                <th>Datum i vrijeme obavijesti</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObavijestRows)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Poruka</td>
                    <td>@item.DatumVrijeme</td>
                </tr>
            }
        </tbody>
    </table>  
</body>
</html>