
@model eRestoran.Areas.Admin.ViewModels.Skladiste.SkladisteNaruciVM


<style>
    #butt{
        position:center;
    }
</style>
<div clas="row" style="margin:auto; margin-top:4em;">
    <div style="background-color: #fff; opacity:0.9; margin:auto; width:500px;">
        <h5 style="color:white; padding-top:30px; text-align:center; background-color:#1f1e1d; opacity:0.9; height:80px;"><b>Nova narudžba</b></h5>
        <form asp-controller="Skladiste" asp-action="Naruci" asp-area="Admin" class="formCreate" style="padding:0 3em 1.5em 3em;">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stavka">Namirnica koju želite naručiti:</label>
                <br />
                <input asp-for="Stavka" class="login-form-input" id="stavka" placeholder="Ime stavke" />

            </div>
          
            <div class="form-group">
                <label asp-for="Kolicina">Količina:</label>
                <br />
                <input asp-for="Kolicina" class="login-form-input" id="kolicina" placeholder="Količina" /><div></div>

                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dobavljac">Dobavljač:</label>
                <br />
                <input asp-for="Dobavljac" class="login-form-input" id="dobavljac" placeholder="Ime dobavljača" /><div></div>

                <span asp-validation-for="Dobavljac" class="text-danger"></span>
            </div>
           <br />
            <div class="form-group" id="butt">
                <input type="submit" value="Naruči" id="createNarudzba" class="btn btn-warning" style="margin-left:22%;" />
            </div>
        </form>
    </div>
</div>


