<label style="background-color:wheat">Poruka uspjesno poslana!</label>
<br />
<div>
    <a asp-action="Index" asp-controller="Obavijesti" asp-area="Uposlenik" style="font-weight:bold;background-color:wheat; float: inline-end; color:black">Nazad</a>
</div>